* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin: 0;
}
.logo {
    width: 70px;
}
.content-image {
    width: 100px;
}
.border-left {
    border-left: 2px solid #ddd;
}
.cards {
    /* display: grid; */
    gap: 50px;
    /* grid-template-columns: repeat(3, auto); */
}
.logo {
    font-family: "Playwrite ES", cursive;
}
.post-content {
    word-break: break-all;
}
.comment-body {
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    border-radius: 3px 20px 3px 20px;
    box-shadow: 3px 3px 10px #ddd;
}
